.main-container {
    background-color: #495E57;
    padding: 2rem 10%; /* Add vertical padding and set horizontal padding */
    display: flex;
    justify-content: center; /* Center content horizontally */
    align-items: center; /* Center content vertically */
}

.hero-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-around; /* Center content horizontally */
    align-items: left; /* Center content vertically */
}

.hero-titles {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 0.2rem;
    text-align: left;
    margin-bottom: 0.5rem; /* Add margin-bottom to create space between h1 and h2 */
}

.button-reserve {
    background-color: #F4CE14;
    color: #333333;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 0.5rem;
}

.hero-image-wrapper img {
    max-width: 40%; /* Ensure the image doesn't exceed the width of its container */
    height: auto; /* Maintain the aspect ratio */
    object-fit: cover; /* Ensure the image covers the entire container */
    border-radius: 1rem;
}

/* 
*/