.testimonials-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 3rem 0;
    padding: 2rem 0;
    width: 100%;
    height: auto;
    background-color: #EDEFEE;
}


.testimonials-title {
    color: #495E57; /* Add !important to override any conflicting rules */
    text-align: center; /* Center the text horizontally */
    display: flex; /* Make it a flex container */
    align-items: center; /* Center vertically */
    justify-content: center; /* Center horizontally */
}

.testimonials-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 1.5rem;
}

.testimonials-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 5rem;
}
